<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>description</string>
	<key>UIAppFonts</key>
	<array>
		<string>BebasNeue.otf</string>
		<string>bullpen hv it.ttf</string>
		<string>Chosence Bold Italic.otf</string>
		<string>Comfortaa-Regular.ttf</string>
		<string>Crapaud_petit.otf</string>
		<string>fv_almeo-webfont.ttf</string>
		<string>hero.ttf</string>
		<string>Kingthings Organica.ttf</string>
		<string>LemonMilk.otf</string>
		<string>LinLibertine_aBL.ttf</string>
		<string>Lissain didone.ttf</string>
		<string>Martell-Bold.otf</string>
		<string>PoetsenOne-Regular.ttf</string>
		<string>Reckoner.ttf</string>
		<string>Rounded_Elegance.ttf</string>
		<string>royal-serif.ttf</string>
		<string>stentiga.ttf</string>
		<string>Subway-Black.ttf</string>
		<string>SugarcubesRegular.ttf</string>
		<string>Typo GeoSlab Regular Demo.otf</string>
		<string>All Star Resort 2.ttf</string>
		<string>BluePrinted.ttf</string>
		<string>CloisterBlack.ttf</string>
		<string>Curly Shirley.ttf</string>
		<string>Double_Bubble_shadow.otf</string>
		<string>DS-DIGI.TTF</string>
		<string>Easy 3D.ttf</string>
		<string>JibriiRegular.ttf</string>
		<string>johnnytorchrotal.ttf</string>
		<string>KGDarkSide.ttf</string>
		<string>KGTrueColors.ttf</string>
		<string>Market_Deco.ttf</string>
		<string>neon2 2.ttf</string>
		<string>Original by fnkfrsh.otf</string>
		<string>Park Lane NF.ttf</string>
		<string>Sketch Handwriting.otf</string>
		<string>Stranger back in the Night.otf</string>
		<string>tradizional DEMO.otf</string>
	</array>
	<key>NSAppleMusicUsageDescription</key>
	<string>some usage</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>some usage</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>some usage</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Hosting</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
